.td-button-primary {
	color: #fff!important;
    background-color: #ac0610!important;
    border-color: #ac0610!important;
}
.td-utility-toggle {
    background-color: #dadfed!important;
    .td-section-left {
        ul li a, .td-icon {
    	color: #1c1c1c!important;

		}
	}
    .td-section-right {
        ul li a, .td-icon {
    		color: #616161!important;
        }
	}
}
.td-nav-primary {
    background-color: #002c5c!important;
    .td-section-left {
		nav>ul>li>a, .td-icon {
			color: #fff!important;
        }
        nav>ul>li>a:hover, .td-icon:hover {
			color: #1c1c1c!important;
        }
    }
    .td-section-right {
        ul>li>a, .td-icon {
			color: #fff!important;
        }
    }
}