<sly data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
	 data-sly-use.customteaser="com.aem.compLib.core.models.CustomTeaser"
	 data-sly-test.desktopImage="${customteaser.desktopImage.desktopImageRef}"
     data-sly-test.landscapeImage="${customteaser.landscapeImage.landscapeImageRef}"
     data-sly-test.portraitImage="${customteaser.portraitImage.portraitImageRef}"
     data-sly-test.mobileImage="${customteaser.mobileImage.mobileImageRef}">
    <section class="td_rq_a_banner td-a-banner {parallax_top_m:46}" data-bg-srcset='{"lg":"${desktopImage}","md":"${landscapeImage}", "sm":"${portraitImage}", "xs":"${mobileImage}"}' id="aBanner0" style="opacity: 1;">
        <div class="td-container td-xs-full-bleed">	
            <div class="td-col banner-content-lg">				
                <div class="td-row td-a-banner-callout parallax-banner background-color-white">		
                    <div class="td-col-xs-12 text-left">
						<sly data-sly-test="${teaser.description != ''}">
							${customteaser.description @ context = 'html'}
						</sly>
						<div class="td-row callout-action" data-sly-test="${teaser.actionsEnabled}">
                            <div class="td-col banner-button-lg" data-sly-list="${teaser.actions}">
								<a href="${item.URL}" class="td-button td-button-large td-button-primary td-button-block td-copy-nowrap" type="button">${item.title}</a>
                            </div>
                        </div>					
                    </div>								
                </div>					
            </div>
        </div>	
    </section>
</sly>