<template data-sly-template.aBanner="${ @ teaser,customteaser}">
	<section title="description for screen readers" class="td_rq_a_banner td-a-banner type1 {parallax_top_m:46}" data-bg-srcset='{"lg":"${customteaser.desktopImage}","md":"${customteaser.landscapeImage}", "sm":"${customteaser.portraitImage}", "xs":"${customteaser.mobileImage}"}'>
		<div class="td-container td-xs-full-bleed td-padding-0">			
			<div class="td-col td-col-xs-12 td-col-xs-offset-0 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2">				
				<div class="td-a-banner-callout">									
					<div class="td-margin-xs-top-40 td-margin-xs-bottom-20 td-margin-sm-bottom-0 td-margin-sm-top-20 td-margin-lg-bottom-0 td-col-xs-12">
						<div class="rte">
							<p>${customteaser.pretitle}</p>
						</div>
					</div>								
				</div>			
			</div>		
		</div>	
	</section>
</template>