<sly data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
	 data-sly-use.customteaser="com.aem.compLib.core.models.CustomTeaser">

<sly data-sly-test.aBanner="${properties.bannerType=='aBanner'}"
		 data-sly-use.aBannerTemplate="aBanner.html"
         data-sly-call="${aBannerTemplate.aBanner @ teaser=teaser,customteaser=customteaser}"></sly>

<sly data-sly-test.bannerCTA="${properties.bannerType=='bannerCTA'}"
		 data-sly-use.bannerCTATemplate="bannerCTA.html"
         data-sly-call="${bannerCTATemplate.bannerCTA @ teaser=teaser,customteaser=customteaser}"></sly>

</sly>
</div>

