.td-button-primary {
	color: #cfbd91!important;
    background-color: #282828!important;
    border-color: #282828!important;
}
.td-utility-toggle {
    background-color: #282828!important;
    .td-section-left {
        ul li a, .td-icon {
    		color: #cfbd91!important;
        }
	}
    .td-section-right {
        ul li a, .td-icon {
    		color: #cfbd91!important;
        }
	}
}
.td-nav-primary {
    background-color: #fff!important;
    .td-section-left {
		nav>ul>li>a, .td-icon {
			color: #1c1c1c!important;
        }
		nav>ul>li>a:hover, .td-icon:hover {
			color: #cfbd91!important;
        }
    }
    .td-section-right {
        ul li a, .td-icon {
			color: #1c1c1c!important;
        }
    }
}
footer {
    border-top: none!important;
	background-color: #282828 !important;
    p {
		    color: #fff!important;
    }
    .td-contact-link {
		color: #cfbd91 !important;
        .td-icon {
			color: #cfbd91 !important;
        }
    }
    .td-icon {
        color: #fff!important;
    }
    .td-icon-wrapper.td-background-darkgreen {
		border:solid 2px #cfbd91 !important;
        .td-icon {
        	color: #fff!important;
    	}
        &:hover {
			background: #cfbd91 !important;
        }
        &:focus {
			background: #cfbd91 !important;
        }
    }
    .td-footer-links {
        a {
			color: #fff!important;
        }
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:  #1c1c1c;
}
.td-button-secondary, .td-button-primary  {
	outline: none;
    color: #cfbd91;
    background-color: #454543;
}
.td-button-clear-green {
    color: #1c1c1c!important;
    border-color: #cfbd91!important;
}
.td-button-clear-green:hover,.td-button-clear-green.hover {
    color: #1c1c1c!important;
    background-color: #f0ede6!important;
}

.td-button-clear-green:focus {
    color: #1c1c1c!important;
    border-color: #cfbd91!important;
    outline: #cfbd91 dotted 1px!important;
}

.td-green-text {
	color: #cfbd91!important;
}
